:root {
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: rgb(155, 206, 226);
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: dodgerblue;
  }

  .img_logo_header {
    width: 35px;
    height: 35px;
    }

    .logo_header {
  flex-shrink: 0;
  padding-right: 25px;
    }

  .header,
  .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navigation_header {
    gap: 2em;
    z-index: 2;
  }

  .navigation_header a {
    text-decoration: none;
    color: var(--color-dark1);
    transition: 0.5s;
    font-weight: bold;
  }

  .header {
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
  
  }

  .active:hover {
    background-color: rgb(231, 236, 238);
    padding: 10px;
    border-radius: 10px;
  }

  .content {
    text-align: center;
    padding-top: 5em;
    height: 100vh;
    transition: 1s;
  }

  .btn-icon-header {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
  }
  

  @media screen and (max-width: 875px) {
    .btn-icon-header {
      display: block;
    }
  
    .navigation_header {
      position: absolute;
      flex-direction: column;
      top: 0;
      background-color: var(--color-dark2);
      height: 100%;
      width: 35vw;
      padding: 1em;
      animation-duration: 0.5s;
      margin-left: 100vw;
      animation-name: showSidebar;
      }
@keyframes showSidebar{
  from{margin-left: -100vw;}
  to{margin-left: 10vw;}
}
}

.title{
  margin-top: -50px;
  padding-bottom: 20px;
}

.topo{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
   }

        nav {
            display: flex;
            margin-left: 8%;
            margin-right: 8%;
            justify-content: space-between;
            padding: 2%;
        }
      
        #icones {
            filter: drop-shadow(5px 5px 8px var(--color-dark4));
            transition-duration: 0.3s;
        }
      
        #icones:hover {
            transform: scale(1.2);
        }
      
        img {
            width: 80px;
            height: 80px;
        }
      
        ul {
            list-style-type: none;
            align-items: center;
        }
      
        button {
            background-color: dodgerblue;
            border: none;
            color: white;
            padding: 10px;
            width: 100%;
            border-radius: 8px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 15px;
        }
        button:hover{
          background-color: deepskyblue;
        }

        a {
            color: white;
            text-decoration: none;
        }

        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            right: 150px;
            top: 5%;
            width: 50%;
            height: 75%;
            overflow: auto;
        }
        
          .sub-btn {
              position: absolute;
              right: 0;
              background-color: rgba(0, 0, 0, 0.8);
              margin: 15% auto;
              padding: 50px;
              border: 1px solid #888;
              width: 15%;
              display: block;
              margin-bottom: 10px;
              border-radius: 25px;
              border: none;
          }
        
          #close-btn {
              position: absolute;
              top: -25px;
              right: 10px;
              background-color: rgba(0, 0, 0, 0.0);
              color: rgb(253, 0, 0);
              width: 30px;
              height: 30px;
              font-size: 35px;
          }

 .pesquisas{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 15px;
    border-radius: 15px;
        }

        .registrobr{
     background-color: aliceblue; 
     border-radius: 15px;
     padding: 8px;
     transition-duration: 0.3s;
    }

.registrobr:hover{
     filter: drop-shadow(5px 5px 8px var(--color-dark4));
    }
  .financeiro{
     background-color:aliceblue; 
     border-radius: 15px;
     padding: 25px;
     margin-bottom: 25px;
     transition-duration: 0.3s;
    }
  .financeiro:hover{
     filter: drop-shadow(5px 5px 8px var(--color-dark4));
    }

    